.logo{
    width: 88px;
    height: 88px;
    display: block;
    margin: 32px auto 12px;
}
.partner{
    color: #333333;
    font-size: 24px;
    text-align: center;
    span{
        color: #EB4949
    }
}

.title{
    text-align: center;
}
.title img{
    padding-left: 15px;
}