<div class="d-flex flex-column align-items-center">
  <!-- <p class="partner">
    Partner<span style="color: red"> (new/frozen/deleted)</span>
  </p> -->
  
 <div class="filters">
    <img src="../../../assets/svg/fi-rr-filter (1).svg" (click)="filterEvent()" />
  <span class="p-input-icon-left">
    
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Product search"/>
  </span>
</div>
  <div class="d-flex align-items-center filter-chips">
    <p style="color: red;cursor: pointer;" (click)="clearFilterEvent()">Cleaning filters</p>
      <p-chip  *ngFor="let item of filters | keys" [label]="item.label" [removable]="true" (onRemove)="onChipRemove(item.key)"></p-chip>
</div>
</div>
